video_stream/__pycache__
video_stream/video_stream/__pycache__
DDAMFN/networks/__pycache__
DDAMFN/pretrained
DDAMFN/archive
DDAMFN/checkpoints
*.png
usb_cam
deep_sort
*.mp4
video_stream/videos
emotions.txt
video_stream/video_stream/emotions.txt
video_stream/video_stream/emotions.csv
DDAMFN/DDAMFN++/rafdb_train_sam_opt_ver2.0.py
DDAMFN/DDAMFN++/checkpoints_ver2.0/rafdb_epoch37_acc0.8957_bacc0.8368.pth
DDAMFN/DDAMFN++/checkpoints_ver2.0/rafdb_epoch79_acc0.898_bacc0.8457.pth
